@font-face {
  font-family: "Courier New";
    font-size: smaller;
  /*src: url('test.woff') format('woff');*/
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .hideIE {
    display: none;
  }
}
body {
  background-color: #fefefa;
  padding-top: 130px;
  font-size: x-large;
}
.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}
.navbar-udelt {
  background-color: #000000;
  color: #fefefa;
  height: 80px;
}
.navbar-udelt img {
  height: 50px;
  float: left;
  margin-left: 5px;
  margin-top: 15px;
}
.navbar-links {
  margin-top: 10px;
}
.navbar-udelt a {
  color: #fefefa;
  display: block;
  margin-left: 20px;
  margin-right: 5px;
}
.mini-container {
  margin-left: 50px;
  margin-right: 50px;
}
.header {
  font-family: "Courier New"; 
}
.tree-left {
  z-index: 1000;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .tree-left {
    display: none;
  }
}
/********************/
/*  WHAT            */
/********************/
.what-text-sm {
  position: absolute;
  padding-top: 10px;
  width: 220px;
  left: 270px;
}
.what-header-sm {
  position: absolute;
  left: 630px;
}
.what-frame {
  position: absolute;
  left: 150px;
  top: -69px;
  width: 400px;
}
/********************/
/*  TREE-RIGHT      */
/********************/
.tree-right-fixed {
  position: fixed;
  top: 80px;
  right: 0;
  left: auto;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .tree-right-fixed {
    display: none;
  }
}
.tree-right-absolute {
  position: absolute;
  top: 610px;
  right: 0;
  left: auto;
  width: 0;
  z-index: 16;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .tree-right-absolute {
    display: none;
  }
}
/********************/
/*  WHO             */
/********************/
.spline {
  z-index: 15;
  width: 100%;
  position: relative;
}
#topSpline {
  height: 50px;
  top: 570px;
  z-index: 15;
  width: 100%;
  position: relative;
}
#bottomSpline {
  z-index: 15;
  width: 100%;
  position: relative;
  height: 50px;
}
.who-container {
  height: 500px;
  z-index: 10;
  margin-top: 560px;
}
#who-content {
  z-index: 10;
}
#who-overlay {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 11;
}
